/* --- Override main.css Settings --- */
body {
  background-color: #1b1b1b;
  color: #fdfdfd;
}

a.btn-view-on-github {
  color: white;
  box-shadow: 0px 2px 5px 1px black;
}

.row-trapezoid {
  background-color: #343A40;
}
