/* --- Default Settings --- */
body { 
	font-family: 'Roboto', sans-serif; 
}

/* unvisited link */
a:link, a.nav-link.color-custom:link { 
	color: cornflowerblue; 
	text-decoration: none; 
}

/* visited link */
a:visited, a.nav-link.color-custom:visited { 
	color: cornflowerblue; 
	text-decoration: none; 
}

/* mouse over link */
a:hover, a.nav-link.color-custom:hover { 
	color: blue;
	text-decoration: none; 
}

/* selected link */
a:active, a.nav-link.color-custom:active { 
	color: blue;
	text-decoration: none; 
}

ul { 
	list-style-type:disc; 
}

/* --- Custom Settings --- */
/* styling for custom icons */
i.drewhans555-leetcode,
i.drewhans555-myanimelist-rounded,
i.drewhans555-pixiv {
	position: relative;
	top:5px;
	font-size: 2.8em;
}

/* styling for custom badges */
.drewhans555-badge-android {
  background-color: #a4c639;
}
.drewhans555-badge-java {
  background-color: #e50000;
}
.drewhans555-badge-python {
  background-color: #ffd242;
}
