/* --- Default Settings --- */
body {
  font-family: "Roboto", sans-serif;
}

/* nav-link color override */
a.nav-link.color-custom {
  color: #006eff;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #006eff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0050fa;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #0050fa;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #006eff;
  text-decoration: none;
}

ul {
  list-style-type: disc;
}

/* --- Return-To-Top Btn Settings --- */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* --- Custom Settings --- */
/* styling for custom icons */
i.drewhans555-leetcode,
i.drewhans555-myanimelist-rounded,
i.drewhans555-pixiv {
  position: relative;
  top: 5px;
  font-size: 2.8em;
}

/* styling for custom badges */
.drewhans555-badge-android {
  background-color: #a4c639;
}
.drewhans555-badge-bootstrap {
  background-color: #7843c4;
}
.drewhans555-badge-c {
  background-color: #608ceb;
}
.drewhans555-badge-cuda {
  background-color: #e50000;
}
.drewhans555-badge-csharp {
  background-color: #6c429c;
}
.drewhans555-badge-dotnet {
  background-color: #5c2d91;
}
.drewhans555-badge-java {
  background-color: #e50000;
}
.drewhans555-badge-javascript {
  background-color: #fac552;
}
.drewhans555-badge-python {
  background-color: #ffd242;
}
.drewhans555-badge-racket {
  background-color: #0288d1;
}
